*, html {

    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

#lang {
    display: flex;
    justify-content: flex-end; /* Aligne le contenu à droite */
    margin-right: 20px;
    position: absolute;
    top: 40px; /* Fais descendre l'image de 60 pixels */
    right: 0; /* Assure que l'élément est aligné à droite de la page */
    text-decoration: none;
}

#lang i {
    padding-right: 5px;
}

#lang:hover {
    color: #EADED2;
}



header {
    text-align: center;
}

header img {
    width: 90px;
}

.header-container {
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
}


.header-container i:hover {
    color: #EADED2;
}

header a {
    font-size: 1.1em;
    color: black;
}

#aboutme {
    text-decoration: none;
}

#aboutme:hover {
    color: #EADED2;
}


.PrincipalFont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.PrincipalFont img {
    width: 20%;
}
/*=========Text=============*/
.text {
    display: flex;
    color: black;
    padding-top: 20px;
    background: #6a5d6b;
    padding-bottom: 20px;
    overflow-x: scroll;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    position: relative;
    scroll-behavior: smooth;
}


.text::-webkit-scrollbar {
    display: none;
}


.text img {
    min-width: 15%;
    max-width: 350px;
    cursor: default;
}

.text-container {
    position: relative; /* Nécessaire pour que les flèches soient positionnées correctement par rapport à ce conteneur */
}


.leftarrowclass, .rightarrowclass {
    position: absolute; /* Positionne les flèches par rapport à leur conteneur parent */
    top: 50%; /* Centre verticalement les flèches */
    transform: translateY(-50%); /* Centre parfaitement les flèches verticalement */
    font-size: 2rem; /* Taille des flèches, ajustez selon vos besoins */
    color: white; /* Couleur des flèches */
    cursor: pointer; /* Change le curseur en pointeur pour indiquer qu'elles sont cliquables */
    z-index: 10; /* Met les flèches au-dessus des autres éléments */
}

.leftarrowclass, .rightarrowclass {
    width: 50px;
    filter: invert(100%) sepia(30%) saturate(500%) hue-rotate(10deg) brightness(90%) contrast(85%);
}


.leftarrowclass {
    left: 10px;
    rotate: 90deg; 
}

.rightarrowclass {
    right: 10px; 
    rotate: -90deg; 
}



/*======================*/
.product {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    justify-content: center;
}

.titre {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.product img {
    width: 70%;
    transition: scale 1s;
}
/*======Produc Hover ============*/
.product img:hover {
    cursor: pointer;
    scale: 1.05;
}


/*========================*/


.ProductExpose {
    text-align: center;
}

.ProductExpose h3 {

  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

/*==============================*/

.contact a {
    margin-left: 15px;
    font-size: 2.5rem;
    text-decoration: none;
    color: #B86A69;
}


.contact nav {
    display: flex;
    justify-content: left;
}


/*============================*/


.avant {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.button-container {
    position: absolute; /* Positionne le conteneur de boutons par rapport à .banner */
    top: 85%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, 10%); /* Ajuste pour centrer parfaitement */
    display: flex; /* Utilise Flexbox pour le conteneur des boutons */
    gap: 200px; /* Espace entre les boutons */
    /*===================*/
}

.button-container button {
    border: 3px solid #EADED2;
    background: rgba(197, 191, 190, 0.5);
    padding: 20px 150px 20px 150px;
    font-size: 2.8rem;
    cursor: pointer;
    color: white;

    /* style text */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    /* ======= */ 
    flex: 1; /* Permet aux boutons de grandir et remplir l'espace disponible */
    min-width: 150px; /* Largeur minimale */
    border-radius: 8px;
}

.button-container button:hover {
    background: none;
    color: #000000;
    font-weight: bold;
}

/* ==============ANIMTION BUTTON============*/

.button-container {
  /*  border: 1px solid black; */
    animation: appa 2s;
    animation-fill-mode: forwards;
}

@keyframes appa {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        translate: 0 -250px ;
    }
}


/* ==============ANIMTION BUTTON============*/


.banner {
    display: flex;
    width: 100%;
}

.banner img {
  width: 100%; /* Prend 100% de la largeur du conteneur */
  height: auto; /* Garde les proportions de l'image */  
}

/* ==================================== */
